@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,100);
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body {
  font-size: 14px;
  text-rendering: optimizeLegibility;
  color: #4b4b4b;
  background-color: #4b1945;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.428571429;
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.btn {
  border-radius: 0;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .table-row {
    display: table-row;
  }
}
@media (min-width: 768px) {
  .table-cell {
    float: none;
    display: table-cell;
  }
}
.spacer {
  height: 10px;
}
.full-width {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .full-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.carousel-control.left,
.carousel-control.right {
  background: inherit;
}
#main-header {
  position: relative;
}
#main-header:after {
  content: "";
  background-image: url('images/gedung-uad.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.35;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#main-header div[class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
#main-header #site-logo {
  color: #fff;
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 15px;
}
@media (min-width: 768px) {
  #main-header #site-logo {
    margin-bottom: 30px;
  }
}
#main-header #site-logo img {
  float: left;
  width: 80px;
  margin-right: 15px;
}
#main-header #site-logo h1 {
  padding-top: 10px;
  font-weight: 100;
  margin: 0;
  font-size: 16px;
}
@media (min-width: 768px) {
  #main-header #site-logo h1 {
    font-size: 24px;
  }
}
#main-header #site-logo h2 {
  font-weight: 100;
  margin: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  #main-header #site-logo h2 {
    font-size: 18px;
  }
}
#main-header nav#navigation-main {
  margin-bottom: 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  #main-header nav#navigation-main {
    border-radius: 10px 10px 0 0;
  }
}
#main-footer {
  padding: 20px 0;
  min-height: 200px;
  color: #fff;
  font-size: 9pt;
}
@media (min-width: 768px) {
  #main-footer {
    margin-top: 50px;
  }
}
#main-footer h4 {
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
#main-footer ul {
  padding-left: 0;
}
#main-footer ul li {
  list-style: none;
}
#main-footer ul li a {
  color: #fff;
}
nav#navigation-top {
  border: 0;
  margin-bottom: 0;
  background-color: #4b1945;
  min-height: inherit;
}
nav#navigation-top .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
nav#navigation-top .navbar-nav li a {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
  padding: 7px 25px;
}
nav#navigation-top .navbar-nav li a:hover,
nav#navigation-top .navbar-nav li a:focus {
  color: #ffbc45;
}
nav#navigation-top .navbar-nav li.active a {
  color: #ffbc45;
  background-color: inherit;
}
nav#navigation-top .navbar-nav li.open a {
  background-color: #660066;
}
nav#navigation-top .navbar-nav li.open ul.dropdown-menu {
  min-width: 200px;
  background-color: #660066;
}
nav#navigation-top .navbar-nav li.open ul.dropdown-menu li a {
  color: #fff;
  background-color: #660066;
  padding-top: 5px;
  padding-bottom: 5px;
}
nav#navigation-top .navbar-nav li.open ul.dropdown-menu li a:hover {
  background-color: #4b1945;
}
#wrapper-content {
  background-color: #FFF;
  min-height: 600px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  #wrapper-content {
    border-radius: 0 0 10px 10px;
  }
}
#wrapper-content #content {
  padding-top: 25px;
}
#wrapper-content .block.common h2 {
  font-size: 12pt;
  background-color: #660066;
  display: block;
  padding: 10px 10px;
  color: #FFF;
}
@media (min-width: 768px) {
  #wrapper-content .block.common h2 {
    font-size: 10pt;
  }
}
@media (min-width: 992px) {
  #wrapper-content .block.common h2 {
    font-size: 12pt;
  }
}
#wrapper-content .block.common h3 {
  font-size: 12pt;
}
#wrapper-content .block.common h3.article-title {
  margin: 0;
  padding: 0;
}
#wrapper-content .block.spotlight-top img {
  margin-bottom: 5px;
}
#wrapper-content .block.spotlight-top h3.article-title {
  font-size: 10pt;
}
@media (min-width: 768px) {
  #wrapper-content {
    position: relative;
  }
  #wrapper-content:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 10px #30062C;
    -webkit-transform: rotate(-3deg) skew(0deg);
    -moz-transform: rotate(-3deg) skew(0deg);
    -ms-transform: rotate(-3deg) skew(0deg);
    -o-transform: rotate(-3deg) skew(0deg);
    transform: rotate(-3deg) skew(0deg);
  }
  #wrapper-content:after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 10px;
    width: 50%;
    height: 20%;
    box-shadow: 0 15px 10px #30062C;
    -webkit-transform: rotate(3deg) skew(0deg);
    -moz-transform: rotate(3deg) skew(0deg);
    -ms-transform: rotate(3deg) skew(0deg);
    -o-transform: rotate(3deg) skew(0deg);
    transform: rotate(3deg) skew(0deg);
  }
}
#single-header .jumbotron {
  padding: 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  #single-header .jumbotron {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  #single-header .jumbotron .header-cover,
  #single-header .jumbotron .header-caption {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}
#single-header .jumbotron .header-caption {
  padding-bottom: 15px;
  vertical-align: bottom;
}
#single-header .jumbotron .header-caption h2 {
  margin-top: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #single-header .jumbotron .header-caption h2 {
    font-size: 20px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  #single-header .jumbotron .header-caption h2 {
    font-size: 26px;
  }
}
#common-sidebar ul {
  list-style: none;
  padding-left: 0;
}
#common-sidebar ul li a {
  display: block;
  padding: 5px 0;
  padding-left: 15px;
  border-top: 1px solid #ddd;
  color: #4b4b4b;
}
#common-sidebar ul li a:hover {
  background-color: #eee;
}
#common-sidebar ul li:last-child a {
  border-bottom: 1px solid #ddd;
}
#common-sidebar ul li ul.children li:first-child a {
  border-top: 0;
}
#comments .comment-respond .form-submit,
#comments .comment-respond .form-allowed-tags {
  display: none;
}
#comments .comment-respond .comment-form-author,
#comments .comment-respond .comment-form-email,
#comments .comment-respond .comment-form-url {
  width: 50%;
}
@media (max-width: 767px) {
  #home-latest-news .spacer {
    height: 20px;
  }
}
@media (max-width: 767px) {
  #home-latest-news .post-thumbnail img {
    margin: 15px 0;
  }
}
#home-latest-news .article-content {
  font-size: 10pt;
}
#quicklinks-carousel {
  margin-top: 0px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  #quicklinks-carousel {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
#quicklinks-carousel.nav-pills > li > a {
  border-radius: 0;
  color: #4b1945;
  border-bottom: 1px solid #C496C3;
}
#wrapper-content-top {
  background-color: #eee;
}
ul#home-banner-links {
  padding: 0;
  margin-top: 20px;
}
ul#home-banner-links li {
  margin-bottom: 1px;
  list-style: none;
}
ul#home-banner-links li a {
  display: block;
  padding: 25px 25px;
  background-color: #eee;
  color: #666;
  height: 80px;
}
ul#home-banner-links li a:hover {
  background-color: #ddd;
  text-decoration: none;
}
ul#home-banner-links li a i {
  font-size: 24pt;
  margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  ul#home-banner-links li a i {
    float: left;
  }
}
ul#home-banner-links li a h4 {
  display: inline;
  margin: 0;
}
